# Scilab macros
*.bin
names
lib

# Ignore help builds
/help/en_US/master_help.xml
/help/en_US/scilab_en_US_help/**
/jar
JavaHelpSearch/

/config.log
/config.status
/includes/machine.h
/includes/stamp-h1
/libtool
.deps/
.libs/
Makefile
*.la
*.lo
*.o
